# ===== BUILD =====
target/
out/
build/
bin/
.kotlin

*.class
*.jar
*.war

# ===== INTELLIJ =====
.idea/
*.iml
*.ipr
*.iws

# ===== ECLIPSE =====
.settings/
.project
.classpath
.factorypath

# ===== NETBEANS =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== VSCODE =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== MEDIA =====
*.mp4
*.avi
*.mkv

# ===== LOCAL FILES =====
Profs/